* {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --dark-color: rgb(220, 233, 251);
}

html, body {
  
  overflow-x: hidden;
}
body{
background-color: var(--dark-color);
/* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_02K5MneYnKJdKaFOotFQKmS_jlWXuEjIyQ&usqp=CAU");
background-repeat:no-repeat ;
background-attachment: fixed;
background-size: 100% 100%;
position: relative; */
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: cyan;
}
::-webkit-scrollbar-thumb:hover {
background-color: #1e2223;
}
.modal{
  color: rgb(19,14,77);
}